<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <title>Calistenia</title>
    </head>
    <body>
        <a href="../index.html" class="btn btn-primary">Inicio</a>
        <a href="jiujitsu.html" class="btn btn-secondary">Jiu-Jitsu</a>
        <a href="ajedrez.html" class="btn btn-success">Ajedrez</a>
        <a href="calistenia.html" class="btn btn-warning">Calistenia</a>
        <h1>¿Qué es la calistenia?</h1>
        <p>
            La calistenia es una forma de ejercicio físico que se centra en el uso del propio peso corporal para mejorar la fuerza muscular, la flexibilidad y la resistencia aeróbica.
            Se caracteriza por su simplicidad y eficacia, ya que no requiere de equipos o máquinas especializadas, lo que la hace accesible para realizar en casi cualquier lugar, como en casa, parques o gimnasios al aire libre.
            <br>
            Los ejercicios de calistenia incluyen movimientos como flexiones (push-ups), dominadas (pull-ups), sentadillas (squats), abdominales (crunches), y dips, entre otros. Estos ejercicios se pueden modificar o combinar para aumentar la dificultad o enfocarse en grupos musculares específicos.
            <br>
            La calistenia no solo se enfoca en el desarrollo de la fuerza, sino también en mejorar la coordinación, el equilibrio y la agilidad. Es adecuada para personas de todas las edades y niveles de condición física, ofreciendo un camino escalable hacia la mejora del bienestar físico general.
            <br>
            Además de los beneficios físicos, practicar calistenia también puede tener efectos positivos en la salud mental, como la reducción del estrés y la mejora de la autoestima, gracias a la superación de desafíos físicos y al logro de metas personales en el entrenamiento.
            <br>
            En los últimos años, la calistenia ha ganado popularidad como una disciplina deportiva en sí misma, con comunidades y competiciones dedicadas a demostrar habilidades y rutinas avanzadas, lo que demuestra su versatilidad y el amplio rango de habilidades que se pueden desarrollar a través de su práctica.
        </p>
        <img src="../images/Calistenia.jpg" alt="Hombre haciendo calistenia">
        <br>
        <a href="../index.html" class="btn btn-primary">Inicio</a>
        <a href="jiujitsu.html" class="btn btn-secondary">Jiu-Jitsu</a>
        <a href="ajedrez.html" class="btn btn-success">Ajedrez</a>
        <a href="calistenia.html" class="btn btn-warning">Calistenia</a>
    </body>
</html>
