{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1>Portfolio</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in portfolio %}
                <tr>
                    <td>{{ item.symbol }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.shares }}</td>
                    <td>{{ item.price | usd }}</td>
                    <td>{{ item.total | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <h3>Cash Available: {{ cash | usd }}</h3>
    </div>
    <div>
        <h3>Total Portfolio Value: {{ total_portfolio_value | usd }}</h3>
    </div>
{% endblock %}
