<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Edit Image</title>
    </head>
    <body>
        <h1>Edit your image</h1>
        <div>
            <h2>Original Image</h2>
            <img id="originalImage" src="{{ url_for('static', filename=image_path) }}" alt="Image to be edited" style="max-width:500px;">
        </div>

        <div>
            <h2>Modified Image</h2>
            <canvas id="canvas" style="max-width:500px;"></canvas>
        </div>

        <div>
            <label for="brightness">Brightness</label>
            <input type="range" id="brightness" name="brightness" min="0" max="200" value="100" onchange="updateImage()">
        </div>

        <div>
            <label for="contrast">Contrast:</label>
            <input type="range" id="contrast" name="contrast" min="0" max="200" value="100" onchange="updateImage()">
        </div>

        <div>
            <label for="saturation">Saturation:</label>
            <input type="range" id="saturation" name="saturation" min="0" max="200" value="100" onchange="updateImage()">
        </div>

        <div>
            <label for="blur">Blur:</label>
            <input type="range" id="blur" name="blur" min="0" max="10" value="0" onchange="updateImage()">
        </div>


        <script>
            function drawImage() {
                var img = new Image(); // Crea una nueva instancia de Image
                img.onload = function() {
                    var canvas = document.getElementById('canvas');
                    var ctx = canvas.getContext('2d');
                    canvas.width = this.naturalWidth;
                    canvas.height = this.naturalHeight;
                    ctx.drawImage(this, 0, 0, canvas.width, canvas.height);
                    updateImage(); // Asegúrate de llamar a updateImage aquí para aplicar los filtros iniciales
                }
                img.src = document.getElementById('originalImage').src; // Asegúrate de que la src sea correcta
            }
            window.onload = drawImage; // Llama a drawImage cuando la página se cargue
            function updateImage() {
                var canvas = document.getElementById('canvas');
                if (!canvas) return; // Sale si no se encuentra el canvas
                var ctx = canvas.getContext('2d');
                // Obtén los valores de los controles deslizantes
                var brightness = document.getElementById('brightness').value;
                var contrast = document.getElementById('contrast').value;
                var saturation = document.getElementById('saturation').value;
                var blur = document.getElementById('blur').value;
                // Aplica los filtros
                ctx.filter = `brightness(${brightness}%) contrast(${contrast}%) saturation(${saturation}%) blur(${blur}px)`;
                // Dibuja la imagen con los filtros aplicados
                var img = new Image(); // Crea una nueva instancia para asegurarse de que la imagen se carga
                img.onload = function() {
                    ctx.clearRect(0, 0, canvas.width, canvas.height); // Limpia el canvas
                    ctx.drawImage(this, 0, 0, canvas.width, canvas.height);
                }
                img.src = document.getElementById('originalImage').src; // Establece la src de la imagen original
            }
        </script>
    </body>
</html>


